.paragraph{
    text-align: left;
    color: red;
}
#heading{
    text-align: center;
    color: orange;
    background-color: red;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 300px;
  width: 150px;
  border-radius: 50%;
}
h2{
    color: blue;
}
