div{
    padding: 20px;
    background-color: blue;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 1000px;
    color: white;
}
nav{
    position: sticky;
    background-color: white;
    top: 10px;
    color: yellow;
}
#footer{
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 40px;
    background: grey;
}