.conatainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
img{
    height: 400px;
    width: 400px;
}
.img{
    flex-grow: 1;
}
img:hover{
    transform: scale(1.5);
    transition-delay: 0.5s;
    cursor: pointer;
}
#userimage{
    border-radius: 50% ;
}
#upper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}
#username{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
#name,#follower,#bio{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
}

#userimage {
    float: left;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    overflow: hidden;
  }