.conatainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
img{
    height: 300px;
    width: 300px;
}
.img{
    flex-grow: 1;
}
img:hover{
    transform: scale(1.5);
    /* transition-delay: 1s; */
    cursor: pointer;
}
