#container1{
background-color: gray;
height: 50px;
text-align: center;
font-weight: bold;
}
#container2{
display: flex;
flex-direction: row;
flex-wrap: wrap;
height: 500px;
justify-content: stretch;
align-items: center;
text-align: center;
font-weight: bold;
}
#container3{
background-color: gray;
height: 50px;
text-align: center;
font-weight: bold;
}
#nav{
height: 500px;
width: 25%;
background-color: skyblue;

}
#section{
height: 500px;
width: 50%;
background-color: wheat;
}
#aside{
height: 500px;    
width: 25%;
background-color: orangered;
}